/* Font Family for body */
@font-face {
  font-family: 'SVN-Gilroy';
  src: url('../assets/fonts/svngilroy-light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('../assets/fonts/svngilroy-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
